
<p>
  <strong>Author Page of </strong>
  <%= @author.name %>
</p>
 
<p>
  <strong>Visit him: </strong>
  <%= @author.homepage %>
</p>
<p>
  <%= link_to "Edit", edit_author_path(@author) %>
</p>
<p>
  <%= link_to 'Delete', author_path(@author), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</p>